@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofadi+One&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Marine-blue: #02295a;
  --Purplish-blue: #473dff;
  --Pastel-blue: #adbeff;
  --Light-blue: #bfe2fd;
  --Strawberry-red: #ed3548;
  --Cool-gray: #9699ab;
  --Light-gray: #d6d9e6;
  --Magnolia: #f0f6ff;
  --Alabaster: #fafbff;
  --White: #ffffff;
  --purple: #663399;
}

html {
  font-family: "Ubuntu", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--Light-blue);
  overflow: hidden;
}

main {
  display: flex;
  padding: 1rem;
  border-radius: 0.85rem;
  width: 70%;
  height: 95vh;
  background: var(--White);
  position: relative;
}

/* <!-- Step 1 start --> */

aside {
  width: 35%;
  height: 100%;
  background-image: url("./images/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.step-outline {
  margin: 2rem 1rem;
  width: 80%;
  display: flex;
}

.step-pane {
  margin-bottom: 1rem;
  align-items: center;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -.5rem;
}

.numbers p {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--Light-gray);
  margin-right: 1rem;
  text-align: center;
  color: var(--White);
  font-size: 0.85rem;
  font-weight: 700;
}

.step-pane .step-info span {
  font-size: 0.7rem;
  color: var(--Light-gray);
}

.step-pane .step-info p {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: -0.4rem;
  color: var(--White);
}

.form-style {
  padding: 2rem 4rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  display: none;
}

.form-style.active {
  display: flex;
}

.form-title + p {
  margin-bottom: 2rem;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 95%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Cool-gray);
  margin-bottom: 2rem;
}

input[type="text"] + span,
input[type="email"] + span,
input[type="tel"] + span {
  position: absolute;
  display: block;
  margin-top: -2.1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 700;
  visibility: hidden;
  width: 100%;
  color: var(--Strawberry-red);
}

input[type="text"]:invalid + span::before,
input[type="email"]:invalid + span::before,
input[type="tel"]:invalid + span::before {
  position: absolute;
  content: "This field is required";
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--Strawberry-red);
  left: 20rem;
  top: -4rem;
}

.direction {
  display: flex;
  align-items: end;
  gap: 16rem;
  position: absolute;
  bottom: 2rem;
}

.direction .not-visible {
  color: var(--White);
}

button {
  padding: 1rem 2.2rem;
  border-radius: 0.5rem;
  border-style: none;
  color: var(--White);
  background: var(--Marine-blue);
}

/* <!-- Step 1 end --> */

/* <!-- Step 2 start --> */

.select-plan {
  position: relative;
}

.form-title + p {
  color: var(--Cool-gray);
}

.option_panel {
  display: flex;
  gap: 1rem;
}

.option_box {
  width: 9rem;
  height: 11rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Cool-gray);
}

.errorMessage {
  position: absolute;
  text-align: center;
  color: var(--Strawberry-red);
  transform: translateX(140%);
  font-size: .8rem;
  font-weight: 700;
  visibility: hidden;
}

.option_box.active {
  border: 2px solid var(--purple);
}

.option_box img {
  margin-bottom: 4rem;
}

.option_box p {
  font-weight: 700;
  color: var(--Marine-blue);
}

.option_box span {
  font-size: 0.8rem;
  color: var(--Cool-gray);
  display: block;
  margin-top: -0.3rem;
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.toggle-switch span {
  padding: .625rem;
  cursor: pointer;
  color: var(--Cool-gray);
}
.toggle-switch input {
  display: none;
}
.toggle-switch label {
  background: var(--Marine-blue);
  width: 2rem;
  height: 1rem;
  position: relative;
  border-radius: 1.56rem;
  transition: background-color 0.3s;
}
.toggle-switch label::after {
  content: "";
  width: .9rem;
  height: .9rem;
  background: var(--White);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}
input:checked + label::after {
  transform: translateX(1rem);
}


.direction p {
  margin-bottom: 1rem;
  color: var(--Cool-gray);
  cursor: default;
}

/* <!-- Step 2 end --> */

/* <!-- Step 3 start --> */

.onine_service-box {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-option {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-gray);
  position: relative;
}

input[type="checkbox"] {
  height: 3rem;
}

input[type="checkbox"] + span {
  position: absolute;
  top: -1.3rem;
  color: var(--Strawberry-red);
  font-weight: 700;
  font-size: .8rem;
}

input[type="checkbox"]:invalid + span::before {
  content: "Please pick an add-ons";
}


.service-details label {
  font-weight: 700;
}

.service-details span {
  color: var(--Cool-gray);
  font-size: 0.85rem;
  font-weight: 400;
  display: block;
  margin-top: -0.4rem;
}

.service-option p {
  margin-left: auto;
  font-size: 0.85rem;
  color: var(--Purplish-blue);
}

/* <!-- Step 3 end --> */

/* <!-- Step 4 Start --> */

.option-selected {
  background: var(--Magnolia);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 93%;
  margin-bottom: 2rem;
}

.type-amount {
  display: flex;
  align-items: center;
}

.type-amount .subscription-type {
  font-weight: 700;
}

.type-amount .change-type {
  display: block;
  text-decoration: underline;
  margin-top: -0.3rem;
  font-size: 0.8rem;
  color: var(--Cool-gray);
}

.type-amount .amount {
  margin-left: auto;
  font-weight: 700;
  align-self:auto;
}

.service-typ {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.online-local {
  display: flex;
  font-size: 0.8rem;
}

.online-local p {
  color: var(--Cool-gray);
}

.online-local span {
  margin-left: auto;
  color: var(--Marine-blue);
}

.total {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.total p {
  color: var(--Cool-gray);
  font-size: 0.8rem;
  margin-left: 1rem;
}

.total .total-amount {
  color: var(--Purplish-blue);
  font-weight: 900;
  font-size: 1.1rem;
}
/* <!-- Step 4 end --> */

/* step 5 start */

.thank-you {
  display: flex;
  width: 93%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

.thank-you p:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.thank-you .para {
  text-align: center;
  color: var(--Cool-gray);
}

/* step 5 end  */

@media (max-width: 48em) {
  main {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    padding: 0;
    height: 100%;
    background: var(--Light-blue);
  }

  aside {
    width: 100%;
    background-image: url("./images/bg-sidebar-mobile.svg");
  }

  .step-info {
    display: none;
  }

  .step-outline {
    margin: 5rem 2rem;
  }

  .numbers {
    flex-direction: row;
    position: absolute;
    top: 3rem;
    transform: translateX(50%);
  }
  
  .form-style {
    position: absolute;
    background: var(--White);
    width: 90%;
    min-height: 65vh;
    left: 1.2rem;
    top: 6.2rem;
    border-radius: 0.85rem;
    box-shadow: 0rem 1rem 5rem var(--Light-gray);
    padding: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin-bottom: 1rem;
  }

  input[type="text"]:invalid + span,
  input[type="email"]:invalid + span,
  input[type="tel"]:invalid + span {
    width: 90%;
    font-size: 0.7rem;
    margin-top: -1rem;
  }

  input[type="text"]:invalid + span::before,
  input[type="email"]:invalid + span::before,
  input[type="tel"]:invalid + span::before {
    top: -3.9rem;
    left: 11rem;
    font-size: 0.7rem;
  }

  .direction {
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    background: var(--White);
    padding: 1rem;
    left: 0;
    gap: 5rem;
    width: 100%;
  }

  .direction p {
    width: 7rem;
  }

  #next {
    width: 12rem;
    margin-right: 1rem;
  }

  .option_panel {
    flex-direction: column;
    margin-top: -1rem;
  }

  .option_box {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .option_box img {
    margin-bottom: 0;
  }

  .toggle-option {
    margin-top: 1rem;
  }

  .onine_service-box {
    width: 100%;
  }

  .total {
    width: 100%;
  }

  .thank-you {
    width: 100%;
  }

  .option-selected {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .direction {
    bottom: 0.5rem;
    right: 1rem;
  }
}

@media (min-width: 1184px) {
  .direction {
    right: 6.5rem;
    bottom: 2rem;
  }
}

@media (min-width: 373px) {
  .step-outline {
    top: -4rem;
    left: 3rem;
  }
}
